# SANCHALA OS - Syslinux Configuration (BIOS Boot)

DEFAULT sanchala
PROMPT 0
TIMEOUT 50

UI vesamenu.c32
MENU TITLE Sanchala OS Boot Menu
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #9033ccff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #30ffffff #00000000 std

LABEL sanchala
    MENU LABEL ^Sanchala OS (Live)
    LINUX /sanchala/boot/x86_64/vmlinuz-linux-hardened
    INITRD /sanchala/boot/x86_64/initramfs-linux-hardened.img
    APPEND archisobasedir=sanchala archisolabel=SANCHALA_202608 cow_spacesize=2G

LABEL sanchala-nvidia
    MENU LABEL Sanchala OS (^NVIDIA Graphics)
    LINUX /sanchala/boot/x86_64/vmlinuz-linux-hardened
    INITRD /sanchala/boot/x86_64/initramfs-linux-hardened.img
    APPEND archisobasedir=sanchala archisolabel=SANCHALA_202608 cow_spacesize=2G nvidia-drm.modeset=1

LABEL sanchala-safe
    MENU LABEL Sanchala OS (^Safe Mode)
    LINUX /sanchala/boot/x86_64/vmlinuz-linux-hardened
    INITRD /sanchala/boot/x86_64/initramfs-linux-hardened.img
    APPEND archisobasedir=sanchala archisolabel=SANCHALA_202608 nomodeset

LABEL existing
    MENU LABEL Boot ^Existing OS
    COM32 chain.c32
    APPEND hd0 0

LABEL reboot
    MENU LABEL ^Reboot
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL ^Power Off
    COM32 poweroff.c32
