[Desktop Entry]
Name=Sanchala Podcasts
Comment=Podcast Player
Exec=sanchala-podcasts
Icon=multimedia-player
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
