[Desktop Entry]
Name=Sanchala eBooks
Comment=eBook Reader
Exec=sanchala-ebooks
Icon=calibre
Terminal=false
Type=Application
Categories=Office;Viewer;
