[Unit]
Description=Sanchala OS Syncthing File Synchronization
Documentation=https://docs.syncthing.net/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/syncthing serve --no-browser --no-restart --logflags=0
Restart=on-failure
RestartSec=10
SuccessExitStatus=3 4
RestartForceExitStatus=3 4
Environment=STNORESTART=1
Environment=STNOUPGRADE=1

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
