[Desktop Entry]
Name=Sanchala Calculator
Comment=Advanced calculator with unit conversion
Icon=accessories-calculator
Type=Service
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=krunner_calculator
X-KDE-PluginInfo-Author=Sanchala OS Team
X-KDE-PluginInfo-Name=sanchala-calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
