[Desktop Entry]
Name=Sanchala Search
Comment=Unified search for Sanchala OS
Icon=search
Type=Service
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=krunner_sanchala
X-KDE-PluginInfo-Author=Sanchala OS Team
X-KDE-PluginInfo-Name=sanchala-search
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
